<div class="flex flex-col w-full justify-center self-center gap-5">
  <div>
    <ul class="w-full flex justify-center gap-3">
      <li
        class="rounded-lg bg-gray-200 py-4 px-6 hover:bg-gray-300 cursor-pointer"
        (click)="showCards('flowers')"
      >
        Flowers
      </li>
      <li
        class="rounded-lg bg-gray-200 py-4 px-6 hover:bg-gray-300 cursor-pointer"
        (click)="showCards('candles')"
      >
        Candles
      </li>
    </ul>
  </div>

  <div
    class="flex w-full justify-center gap-4"
    *ngIf="currentView === 'flowers'"
  >
    <div *ngFor="let item of products">
      <app-item-card
        [imgSource]="item.link"
        [name]="item.name"
        [price]="item.price"
      ></app-item-card>
    </div>
  </div>

  <div
    class="flex w-full justify-center gap-4"
    *ngIf="currentView === 'candles'"
  >
    <div *ngFor="let item of products">
      <app-item-card
        [imgSource]="item.link"
        [name]="item.name"
        [price]="item.price"
      ></app-item-card>
    </div>
  </div>
</div>
