<div class="w-full flex justify-center">
  <form
    class="w-[1200px] flex justify-center align-middle items-center flex-col"
  >
    <app-form-input label="Item Name" inputType="text"></app-form-input>
    <app-form-input label="Item Description" inputType="text"></app-form-input>
    <app-form-input label="Price" inputType="text"></app-form-input>
    <app-form-input label="Total Items" inputType="number"></app-form-input>
    <app-primary-button
      buttonType="submit"
      value="submit"
      class="mt-5"
    ></app-primary-button>
  </form>
</div>
